*{
    margin: auto;
}
body{
    background-color: rgb(137, 223, 223);
}
.mother{
    background-color: rgb(202, 165, 135);
    height: 300px;
    width: 600px;

    padding-bottom: 70px;
    box-shadow: 5px 5px 10px blue;
    margin-bottom: 20px;
    
}
h1{ 
    color: blue;
    padding-left: 200px;
}
h3{
    color: blue;
    padding-left: 40px;
}
h2{
    color: rgb(62, 62, 177);
    padding-left: 230px;
    padding-top: 100px;
}
h4{
    color: rgb(95, 95, 224);
    padding-left: 240px;}
   
.image{
    padding: 25px 230px;
    border-radius: 50%;
}
#role{
    padding:25px 220px;
}
#paragraph{
    color: rgb(40, 49, 129);
    padding-left: 220px;
    padding-top: 100px;

}